
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   
}

/* Global */
/* Carousel */
.carousel-inner{
    margin-top: 75px !important;
}

/* Detail */
.detail{
    margin-top: 100px !important;
}

/* Margin */
.login, .daftar, .ubah, .tambah, .admin, .lainnya, .keranjang, .pembayaran{
    margin-top: 100px;
}
